[mysqld]
tmpdir = /var/lib/mysql/tmp
innodb_tmpdir = /var/lib/mysql/tmp

# Обязательно включаем приём подключений через файловый "сокет", существенно снижая операционные задержки
socket = /var/run/mysqld/mysqld.sock

# Разрешаем подключаться только с "localhost"
bind-address = api-mysql

tmp_table_size = 512M
max_heap_table_size = 512M

key_buffer_size = 512M # ~20% RAM

innodb_buffer_pool_size = 2G # ~60% RAM
innodb_log_file_size = 256M
innodb_flush_log_at_trx_commit = 2

innodb_read_io_threads = 16
innodb_write_io_threads = 16

# Явно указываем создавать для каждой таблицы отдельные файлы описаний (.frm) и данных (.ibd) на диске, а не сваливать всё в один (по умолчанию "ibdataX")
innodb_file_per_table = 1

transaction-isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT
sync_binlog = 0
innodb_flush_log_at_trx_commit = 2